* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center; 
}


form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 2em;
    gap: 1em;
    background-color: #232D3F;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.first-section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}

.second-section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 130px;
}

.input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #005B41;
    text-align: left;
    padding: 10px;
    color: #fff;
    font-size: 1em;
}

button {
    background-color: #3caa5b;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 80px;
    height: 3em;
    border-radius: 2em;
    color: #fff;
    border: none;
    
}

@media (max-width: 480px) {
    form > * {
        flex: 1 1 100%;
    }


    
}

